<app-header title="PORTADA"></app-header>


<ion-content color="warning" >
  <ion-row responsive-sm>
    <ion-col col-12 text-center>
      <div style="width: 120%; padding-top: 4%;">
      <ion-img class="imagen-log" src="../../../assets/pag_1_escalar.png"></ion-img>
      </div>
      <div >
        <h1 style="text-align: center"> Bienvenidos a Vuestra Comunidad de Escalada Deportiva</h1>
      </div>
    </ion-col>
  </ion-row>
  <ion-row responsive-sm>
    <div style="margin-top: 5%; margin-left: 35%;">
      <ion-button color="danger" style="text-align: center" type="button" ion-button (click)="onSave()" fill="outline">
        IR PAGINA 2
      </ion-button>
    </div>
    
  </ion-row>
</ion-content>