<ion-header style="min-height: 100px;"> 
  <ion-toolbar color="warning" style="min-height: 100px;">
    <ion-grid>
      <ion-row>
        <ion-row>

          <ion-col style=" color: #fff; text-align: center;">
            <ion-button fill="clear" style="text-align: center; height: 60%; width: 60%; padding-top: 10%;" (click)="onHomeBuscar()">
              <img src="../../../assets/icon/buscador-web.png" style="text-align: center; height: 100%; width: 100%;"/>  
            </ion-button>
          </ion-col >

          <ion-col style="color: #000000; text-align: center; padding-top: 10%; text-align: center;">
             GPS
          </ion-col>

          <ion-col style="color: #fff; text-align: center;">
            <ion-button fill="clear" style="text-align: center; height: 60%; width: 60%; padding-top: 10%;">
              <img src="../../../assets/icon/lista.png" style="text-align: center; height: 100%; width: 100%;"/>  
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content color="warning" >
  <div>
    <div style="text-align: center;">
      <h1> Gimnasio Cerca</h1>
      
    </div>
    <div>
      <div style="width: 100%; height: 30%;">
        <img src="../../../assets/gps/gps.png" style="height: 60%; width: 100%;"/>
      </div>
    </div>
    <div>
      <ion-grid>
        <ion-row>
          <ion-card color="warning" style="width: 100%;">
            <ion-card-header>
              <ion-card-subtitle>Gimnasio: </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content> Direccion: </ion-card-content>
          </ion-card>

          <ion-card color="warning" style="width: 100%;">
            <ion-card-header>
              <ion-card-subtitle>Gimnasio:</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content> Direccion: </ion-card-content>
          </ion-card>

          <ion-card color="warning" style="width: 100%;">
            <ion-card-header>
              <ion-card-subtitle>Gimnasio:</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content> Direccion: </ion-card-content>
          </ion-card>

        </ion-row>
    </ion-grid>
    </div>
  </div>


</ion-content>

<app-footer>
  
</app-footer>
